body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0022ff; 
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  text-align: center;
}

#about img {
  border-radius: 50%;       
  margin-top: 10px;
}

p {
  font-size: 16px;
  color: #333;
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
  background-color: #000000;
  width: 100%;
  margin: 30px auto;
}


#skills table {
  margin: 0 auto;               
  border-collapse: collapse;    
  width: 60%;
  text-align: center;
}

#skills th, 
#skills td {
  border: 1px solid #0022ff;    
  padding: 10px;
}

#skills th {
  background-color: #0022ff;
  color: white;
}


#projects {
  margin-top: 40px;
  text-align: center;
}

#projects div {
  border: 1px solid #007BFF;
  border-radius: 8px;
  width: 60%;
  margin: 15px auto;
  padding: 20px;
  text-align: center;
}

#projects h3 {
  color: black;
  font-weight: bold;
  margin-bottom: 8px;
}

#projects p {
  margin: 0;
  color: #333;
}


#contact table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  text-align: left;
  border: 1px solid #007BFF;
}


#contact td {
  border: 1px solid #007BFF;
  padding: 10px;
  vertical-align: top;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #007BFF;
  border-radius: 5px;
  font-size: 14px;
}

#contact input[type="submit"] {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 15px auto 0 auto;
}


footer {
  background-color: #0056D2;
  padding: 12px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#back-to-top {
  background-color: rgb(0, 34, 255);
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}

#back-to-top:hover{
  background-color: #e0e0e0;
}

